BODY {
  font: 14px/1.4 Trebuchet Ms, Arial, sans-serif;
}

.wrapper {
  max-width: 700px;
  min-width: 500px;
  margin: 0 auto;
}

UL {
  padding: 0;
  list-style: none;
  counter-reset: exemples-list;
}

LI {
  margin: 0;
}

IMG {
  border: 2px dashed gold;
}

MAIN H2:before {
  counter-increment: exemples-list;
  content: counter(exemples-list)'. ' ;
}

H3 {
  font-size: 1.2rem;
}
H3:first-child {
  margin-top: 0;
}

.variations__list {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #CCC;
}

svg {
  outline: 2px dashed yellowgreen;
}

.svg-hidden {
  position: absolute;
  left: -100%;
}

/* EXAMPLE */

.example {
  position: relative;
  min-height: 250px;
  margin: 0 0 2rem;
  padding: 1rem;
  outline: 1px solid #CCC;
}
.example::after {
  content: '';
  display: table;
  clear: both;
}

/* RESULTS */

.results {
  margin: 2rem 0 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 18rem;
}

@media (min-width: 700px) {
  .results {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}

.results__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: .3rem;
}

.results__text {
  flex-grow: 1;
  margin-right: .3rem;
}

.results__text,
.results__sign {
  padding: 5px 7px;
  min-height: 18px;
}

.results__sign {
  min-width: 6rem;
  text-align: center;
  color: #AAA;
}

.results__item--yes .results__text,
.results__item--yes .results__sign {
  background: hsl(100, 100%, 85%);
  color: hsl(100, 100%, 30%);
}

.results__item--bad .results__text,
.results__item--bad .results__sign {
  background: hsl(40, 100%, 85%);
  color: hsl(40, 100%, 30%);
}

.results__item--no .results__text,
.results__item--no .results__sign {
  background: hsl(10, 100%, 85%);
  color: hsl(10, 100%, 30%);
}

.results__sign--question {
  background: hsl(220, 100%, 85%);
  color: hsl(220, 100%, 30%);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  /*outline: 2px solid red;*/
}

/* LOGO */

.logo {
  width: 144px;
  height: 52px;
  background: url(logo.svg) 50% 50% no-repeat;
  border: 2px dashed orange;
  /*outline: 1px solid #CCC;*/
}

.logo--fz0 {
  font-size: 0;
}

.logo--tind {
  text-indent: -1000px;
  overflow: hidden;
}

@media print {
  .logo--print {
    text-indent: 0;
    overflow: visible;
    outline: 2px solid gold;
  }
}
/* BROWSERS */

.brwsr {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 0 .1rem;
  background: url(sprite-browsers.png) 0 0  no-repeat;
  background-size: auto 18px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .5;
  /*outline: 1px solid red;*/
}

.brwsr--yes {
  filter: none;
  opacity: 1;
}

.brwsr--chrome {
  background-position: -22px 0;
}

.brwsr--safari {
  background-position: -45px 0;
}

.brwsr--ie {
  background-position: -60px 0;
}

.brwsr--opera {
  background-position: -90px 0;
}
