BODY {
  font: 14px/1.4 Trebuchet Ms, Arial, sans-serif;
}

.wrapper {
  max-width: 700px;
  min-width: 500px;
  margin: 0 auto;
}

UL {
  padding: 0;
  list-style: none;
  counter-reset: exemples-list;
}

LI {
  margin: 0;
}

IMG {
  outline: 2px dashed gold;
}

MAIN H2:before {
  counter-increment: exemples-list;
  content: counter(exemples-list)'. ' ;
}
H3:first-child {
  margin-top: 0;
}

.variations__list {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #CCC;
}

svg {
  outline: 2px dashed yellowgreen;
}

.svg-hidden {
  position: absolute;
  left: -100%;
}

.example {
  position: relative;
  min-height: 210px;
  margin: 0 0 2rem;
  padding: 1rem;
  outline: 1px solid #CCC;
}
.example::after {
  content: '';
  display: table;
  clear: both;
}

/* RESULTS */

.results {
  position: absolute;
  top: 3.5rem;
  right: 2rem;
  border-collapse: collapse;
  /*margin: 2rem 0;*/
}

TBODY {
  display: flex;
}

TR {
  display: flex;
  flex-direction: column;
}

.results TH,
.results TD {
  padding: 5px 7px;
  min-height: 18px;
  border: 1px solid rgba(0,0,0,.25);
}

.results TH {
  /*background: #DDD;*/
  font-weight: normal;
  text-align: left;
  border-right: 0;
}

.results__sign {
  min-width: 3rem;
  text-align: center;
  color: #AAA;
}

.results__sign--yes {
  background: hsl(100, 100%, 85%);
  color: hsl(100, 100%, 30%);
}

.results__sign--bad {
  background: hsl(40, 100%, 85%);
  color: hsl(40, 100%, 30%);
}

.results__sign--no {
  background: hsl(10, 100%, 85%);
  color: hsl(10, 100%, 30%);
}

.results__sign--question {
  background: hsl(220, 100%, 85%);
  color: hsl(220, 100%, 30%);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  outline: 2px solid red;
}

/* LOGO */

.logo {
  width: 144px;
  height: 52px;
  background: url(logo.svg);
  outline: 2px dashed orange;
  outline: 1px solid #CCC;
}

.logo--fz0 {
  font-size: 0;
}

.logo--tind {
  text-indent: -1000px;
  overflow: hidden;
}

@media print {
  .logo--print {
    text-indent: 0;
    overflow: visible;
    outline: 2px solid gold;
  }
}
/* BROWSERS */

.brwsr {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin: 0 .1rem;
  background: url(sprite-browsers.png) 0 0  no-repeat;
  background-size: auto 18px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .5;
  /*outline: 1px solid red;*/
}

.brwsr--yes {
  filter: none;
  opacity: 1;
}

.brwsr--chrome {
  background-position: -22px 0;
}

.brwsr--safari {
  background-position: -45px 0;
}

.brwsr--ie {
  background-position: -60px 0;
}

.brwsr--opera {
  background-position: -90px 0;
}
